body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 50px;
}

section {
  height: 200vh; /* Height more than double the viewport to ensure enough scrolling */
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  max-width: 600px;
  text-align: center;
}

h1, p {
  margin: 20px 0;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
